# This is an example systemd configuration file for using in an systemd environment
# its was written for the archlinux-arm os
# modify User and ExecStart for your needs

[Unit]
Description=iSpindle-genericTCP server and relay
After=multi-user.target

[Service]
Type=idle
User=alarm
ExecStart=/usr/bin/python2 /home/alarm/iSpindle.py
Restart=always
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=multi-user.target
