
body.blue {
  background-color: lightblue; 
  padding-bottom:3em;

}

body.blue h1 {
  border-radius: 7px;
  color: white;
  background: #1C6EA4;
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  text-align: center;
}

body.blue h2 {
  border-radius: 7px;
  color: white;
  background: #1C6EA4;
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  text-align: center;
}

body.green {
  background-color: #CEE0CC;
  padding-bottom:3em;

}

body.green h1 {
  border-radius: 7px;
  color: white;
  background: #4F7849;
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-bottom: 2px solid #444444;
  text-align: center;
}

body.green h2 {
  border-radius: 7px;
  color: white;
  background: #4F7849;
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-bottom: 2px solid #444444;
  text-align: center;
}

body.wheat {
  background-color: #F5DEB3;
  padding-bottom:3em;

}

body.wheat h1 {
  border-radius: 7px;
  color: black;
  background: rgb(245,222,179);
  background: linear-gradient(to bottom, rgba(245,222,179,1) 0%, rgba(208,179,6,1) 66%, rgba(182,156,1,1) 100%);
  text-align: center;
}

body.wheat h2 {
  border-radius: 7px;
  color: black;
  background: rgb(245,222,179);
  background: linear-gradient(to bottom, rgba(245,222,179,1) 0%, rgba(208,179,6,1) 66%, rgba(182,156,1,1) 100%);
  text-align: center;
}

body.red {
  background-color: #F7D4EC;
  padding-bottom:3em;

}

body.red h1 {
  border-radius: 7px;
  color: black;
  background: #F7D4EC;
  background: linear-gradient(to bottom, #F7D4EC 0%, #EA202C 66%, #AE0D7A 100%);
  text-align: center;
}

body.red h2 {
  border-radius: 7px;
  color: black;
  background: #F7D4EC;
  background: linear-gradient(to bottom, #F7D4EC 0%, #EA202C 66%, #AE0D7A 100%);
  text-align: center;
}

h3 {
  color: black;
  text-align: left;
}

footer {
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: lightblue;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.red {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #F7D4EC;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.green {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #CEE0CC;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.wheat {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #F5DEB3;
  position: fixed;
  height: 100%;
  overflow: auto;
}


li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/*li a.active {
  border-radius: 7px;
  background-color: #4CAF50;
  color: white;
}*/

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.img_norm {
  width: 80%;
  max-width: 1280px; 
  height: auto;
  border: 1px solid #000;
}

.img_small {
  width: 45%;
  max-width: 640px;
  height: auto;
  border: 1px solid #000;
}


table.blue {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blue td, table.blue th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blue tbody td {
  font-size: 15px;
  text-align: center;
}
table.blue tbody tr:nth-child(even) {
  background: #D0E4F5;
}
table.blue thead {
  background: #1C6EA4;
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blue thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blue thead th:first-child {
  border-left: none;
}

table.green {
  border: 1px solid #4F7849;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.green td, table.green th {
  border: 1px solid #4F7849;
  padding: 3px 2px;
}
table.green tbody td {
  font-size: 15px;
  text-align: center;
}
table.green tbody tr:nth-child(even) {
  background: #CEE0CC;
}
table.green thead {
  background: #4F7849;
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-bottom: 2px solid #444444;
}
table.green thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.green thead th:first-child {
  border-left: none;
}

table.wheat {
  border: 1px solid rgba(245,222,179,1);
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.wheat td, table.wheat th {
  border: 1px solid rgba(182,156,1,1);
  padding: 3px 2px;
}
table.wheat tbody td {
  font-size: 15px;
  text-align: center;
}
table.wheat tbody tr:nth-child(even) {
  background: rgba(245,222,179,0.6);
}
table.wheat thead {
  background: rgb(245,222,179);
  background: linear-gradient(to bottom, rgba(245,222,179,1) 0%, rgba(208,179,6,1) 66%, rgba(182,156,1,1) 100%);
  border-bottom: 2px solid rgba(208,179,6,1);
}
table.wheat thead th {
  font-size: 15px;
  font-weight: bold;
  font-color: black;
  border-left: 2px solid rgba(245,222,179,1);
}
table.wheat thead th:first-child {
  border-left: none;
}

table.red {
  border: 1px solid #FFDDE4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.red td, table.red th {
  border: 1px solid #8C263A;
  padding: 3px 2px;
}
table.red tbody td {
  font-size: 15px;
  text-align: center;
}
table.red tbody tr:nth-child(even) {
  background: rgba(140,38,58,0.1);
}
table.red thead {
  background: #F7D4EC;
  background: linear-gradient(to bottom, #F7D4EC 0%, #EA202C 66%, #AE0D7A 100%);
  border-bottom: 2px solid #FFB7C5;
}
table.red thead th {
  font-size: 15px;
  font-weight: bold;
  font-color: black;
  border-left: 2px solid #FFDDE4;
;
}
table.red thead th:first-child {
  border-left: none;
}

/*
input#calibrate{
    background: lightblue url('calibre.png') no-repeat center center;
    padding-left: 48px;
    height: 48px;
}
input#settings{
    background: lightblue url('settings.png') no-repeat center center;
    padding-left: 48px;
    height: 48px;
}
input#diagram{
    background: lightblue url('Diagram.png') no-repeat center center;
    padding-left: 48px;
    height: 48px;
}
input#reset{
    background: lightblue url('restore.png') no-repeat center center;
    padding-left: 48px;
    height: 48px;
}

*/
/* @import 'highcharts.css'; */

